html,
  body {
    background: white;
    font-family: Verdana, Geneva, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .Adelie {
      fill: '#ccccff';
  } 
  
  .Chinstrap{
    fill:'red';}
  
  .Gentoo{
    fill:'lightblue';
  }