html{
  /*
  The default html interpertation adds margin and padding to the basic elements
  So it can be logically helpful to remove them from the beginning!
  */
  font-family:-apple-system, 'Helvetica Neue';
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  font-size: 15px;
  color: black;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.flex-header{
  background-image: url('background_img.png');
  background-attachment: fixed;
  background-size: contain;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 140%;
  font-weight: 700;
}

.description-text{
  font-weight: 400;
  font-size: 100%;
  font-family: Lucida Sans;
  color: #8a8a8a;
}

.main-flex{ 
  font-family: Lucida Sans;
  font-size: 18px;
  font-weight: 400;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

#input-gender{
  padding-block: 10px;
  font-size: 15px;
  top:30px;
  color:grey;

}

input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:1px solid darkgray;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px gray inset;
}
input[type='radio']:before {
  content:'';
  display:block;
  width:100%;
  height:100%;
  border-radius:50%;    
}
input[type='radio']:checked:before {
  background:#001f3d;
}

#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  background-color:white;
  padding: 1rem;
}

#scrolly > * {
  -webkit-box-flex: 1;
  -ms-flex:  1;
  flex: 1;
}

article {
  position: relative;
  margin: 0;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  width: 0%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

.step {
  margin: 0 auto 1rem auto;
  background-color: #3b3b3b;
  color: #fff;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  background-color: goldenrod;
  color: grey;
}

.step p {
  text-align: center;
  padding: 3rem;
  font-size: 1.5rem;
}
